{
    "http_proxies": [
        {%- for addr in http_addr_infos %}
        {%- if loop.last %}
            {"host": "{{ addr[0] }}", "port": {{ addr[1] }}}
        {%- else %}
            {"host": "{{ addr[0] }}", "port": {{ addr[1] }}},
        {%- endif %}
        {%- endfor %}
    ]
}
